@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

a, span, label {
    display: inline-block;
}

.top {
    margin: 30px;
}

.titleflex{
    display: flex;
    flex-wrap: wrap;
}

.h2 {
    font-size: 8px;
    padding: 0 2px;
}
.h2-2 {
    color: black;
}

.box {
    width: 30%;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.abox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.a1 {
    color: black;
    text-decoration: none;
    font-size: 12px;
    transition: 0.8s;
}

.a1:hover {
color: skyblue;
transform: scale(1.2);
}

.btnbox {
    text-align: end;
}

.btn {
    padding: 7px 17px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 25px;
    transition: 0.7s;
}


.all {
    margin: 50px 100px;
}

.leftbox {
    width: 53%;
    padding: 20px;
}

.p1 {
    font-size: 42px;
    font-weight: bold;
    max-width: 350px;
}

.p1-2 {
    font-size: 14px;
    padding: 10px 0;
    color: #3F3F3F;
    max-width: 330px;
}

.btflex {
    display: flex;
    flex-wrap: wrap;
}

.btnbox2 {
    width: 18%;
}

.p1-3 {
    font-size: 12px;
}
.pbox {
    width: 30%;
}

.rightbox {
    width: 46%;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
                 /* ---page2---- */
.page2 {
    margin-top: 100px;
    background-color: #e2e2e2;
    padding: 30px 120px;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    transition: 0.8s;
}
.circle:hover {
    background-color: #04868d;
    transform: scale(0.8);
    box-shadow: 1px 1px 10px black;
}
.flex2:hover .p2-2 {
   
    transform: translateX(80px) rotate(720deg);
    color: #02c5cf;
}


.flex2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 17px;
}
.p2-2 {
    padding: 0 10px;
    font-weight: bold;
    transition: 0.9s;
}
.p2-3 {
    color: #474747;
    font-size: 14px;
}

.boxes2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box2 {
    width: 30%;
    
}

              /* ---Page3 --- */

.page3 {
    padding: 50px 100px;
    background-color: black;
}

.leftbox3, .rightbox3 {
    width: 45%;
}
.h2-3 {
    color: white;
    
}

.boxes3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.p3 {
    color: #c9c7c7;
    padding: 14px 0;
}
.ul {
    padding: 0 14px;
}
.li {
    padding: 9px 0;
    font-size: 12px;
    color: #c9c7c7;
}

                   /* ----page4----!!! */

.page4 {
    padding: 50px 100px;
    
}
.box4 {
    width: 32%;
    background-color: rgb(216, 216, 216);
    padding: 10px 20px;
    box-shadow: 1px 1px 10px black;
}

.p4 {
    font-size: 15px;
    padding-bottom: 20px;
    color: #292929;
    
}
.face {
    width: 18%;
    border-radius: 50%;
    
}

.name {
    font-size: 12px;
    font-weight: bold;
    padding: 5px 0;
}

.p4-2 {
    font-size: 12px;
    color: #2b2b2b;
}
.flex4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.boxes4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    padding: 0 4px;
    font-size: 22px;
    transition: 0.6s;
}

.icon:hover {
    
    color: #04868d;
    transform: rotate(360deg);
}



                       /* ----Page5---- */

.page5 {
    padding: 200px 100px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0)), url(room2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.box5 {
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

.p5 {
    font-size: 17px;
    color: white;
    font-weight: bold;
}

.h2-5 {
    font-size: 35px;
    color: white;
    padding: 15px 0;   
}

.btn2 {
    background-color: white;
    color: black;
    font-weight: bold;
    transition: 1s;
}

.btn2:hover {
    background-color: black;
    color: #04868d;
    transform: rotate(360deg);
}

 
                        /* ----lastpage--- */
                       
.page6 {
    padding: 70px 150px;
    background-color: black;
}

.box6 {
    width: 19%;
}

.boxes6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.brand6, .tm {
    color: white;
}

.p6-1 {
    color: white;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
}

.p6-2 {
    color: #c9c7c7;
    font-size: 10px;
    padding: 5px 0;
    transition: 0.6s;
}

.p6-2:hover {
    color: #04868d;
    cursor: pointer;
}


.btn6 {
    width: 100%;
    padding: 10px 5px;
    background-color: #3F3F3F;
    border: none;
    outline: none;
    border-radius: 20px;
    transition: 0.6s;
}

.btn6:hover {
    background-color: #04868d;
}

.btn6:hover .input {
    background-color: white;
}
.icon2 {
    color: rgb(255, 255, 255);
}

.input {
    background-color: #3F3F3F;
    border: none;
    outline: none;
    transition: 0.6s;
    padding: 2px 0;
    border-radius: 20px;

}
.input::placeholder {
    padding: 0 7px;
    font-size: 14px;
}



.icon3 {
    color: rgb(255, 255, 255);
    transition: 0.6s;
    font-size: 17px;
}

.icon3:hover {
    color: #292929;
    transform: rotate(360deg);
}

.p6-3 {
    
    color: #616161;
    font-size: 12px;
}

@media (max-width:1145px){
    .all {
        margin: 0 20px;
    }
}

@media (max-width:1100px) {
    .box5 {
        width: 50%;
    }


    @media (max-width:995px) {
        .pbox {
            width: 40%;
        }
    }



}
@media (max-width:920px) {
    .box5 {
        width: 60%;
    }
}

@media (max-width:890px) {
    .btnbox2 {
        width: 20%;
    }

    .page2 {
        padding: 30px 20px;
    }
    .page3 {
        padding: 30px 20px;
    }

    .page4 {
        padding: 30px 20px;
    }
}

@media (max-width:805px) {
    .page5 {
        padding: 200px 80px;
    }

    .page6 {
        padding: 70px 80px;
    }
    .btnbox2 {
        width: 25%;
    }
}

@media (max-width:775px) {
    .pbox {
        width: 55%;
    }
}

@media (max-width:750px) {
    .leftbox {
        width: 100%;
        
    }
   .rightbox {
    
    margin: 0 auto;
   }
    .pbox {
        width: 25%;
    }

    .btnbox2 {
        width: 12%;
    }

    .page5 {
        padding: 200px 20px;
    }
}

@media (max-width:700px) {
    .box2 {
        width: 49%;
        margin: 0 auto;
        text-align: center;
    }

    .box4 {
        width: 45%;
        margin: 10px auto;
    }
    .leftbox3 {
        width: 100%;
    }

    .rightbox3 {
        margin: 10px auto;
        text-align: center;

    }
    .btnbox2 {
        width: 15%;
        
    }
    .pbox {
        width: 25%;
        text-align: center;
        
    }

    .page6 {
        padding: 70px 20px;
    }
    .box{
        width: 100%;
    }
    .brand, .tm {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        color: black;
    }

    .btnbox {
        text-align: center;
        width: 100%;
        margin: 10px auto;
    }

    .p1, .p1-2 {
        text-align: center;
        margin: 0 auto;
    }

    .btnbox2, .pbox {
        width: 100%;
        margin: 5px auto;
        text-align: center;
    }
}

@media (max-width:640px) {
    .box5 {
        width: 100%;
    }
}

@media (max-width:550px) {
    .box2 {
        width: 100%;
        
    }

    .box4 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width:500px) {
    .box6 {
    width: 100%;
    text-align: center;
    
    }

}